<div id="<%= dom_id projek %>">
  <p>
    <strong>Name:</strong>
    <%= projek.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= projek.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= projek.notes %>
  </p>

</div>
